body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  color: #fff;
  font-family: sans-serif;
}

button {
  margin-top: 24px;
  padding: 12px 20px;
  background: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

